---

---

<section>
  <div>
    <p>STAY UPDATED</p>
    <h4>Subscribe Our Newsletter</h4>
    <p>Build stronger Customer Relationships with <span>Consultalk</span></p>
  </div>
  <div>
    <input type="text" placeholder="your mail address" />
    <button>Subscribe</button>
  </div>
</section>

<style>
  section {
    background: var(--color-ui-primary);
    height: 324px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    justify-content: center;
    text-align: center;

    p {
      font-size: var(--step--1);
      color: var(--color-action);
    }
    h4 + p {
      color: var(--color-text-weak);
    }
    h4 {
      font-size: var(--step-2);
      color: var(--color-on-ui-primary);
      font-weight: 600;
    }
    span {
      color: var(--color-action);
      font-weight: 600;
    }

    div:has(h4) {
      gap: 12px;
    }
  }

  div:has(button) {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  input[type="text"] {
    border: 1px solid var(--color-on-ui-primary-muted);
    border-radius: 104px;
    width: 330px;
    padding: 20px;
    color: var(--color-text-weak);
  }

  button {
    background: var(--color-action);
    border: none;
    border-radius: 42px;
    padding: 15px 45px;
    font-size: var(--step--3);
    font-weight: 600;
  }
</style>
