---
interface Props {
  sectionTitle: string;
  sectionHeading: string;
  sectionParagraph: string;
}

const { sectionTitle, sectionHeading, sectionParagraph } = Astro.props;
---

<section>
  <p>{sectionTitle}</p>
  <div>
    <h2>{sectionHeading}</h2>
    <p>
      {sectionParagraph}
    </p>
  </div>

  <slot />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  section > p {
    font-size: var(--step--1);
    color: var(--color-text);
    text-transform: uppercase;
    letter-spacing: 14.5%;
    font-weight: 500;
  }

  h2 {
    font-size: var(--step-4);
    color: var(--color-text);
    font-weight: 900;
  }

  div > p {
    font-size: var(--step--3);
    color: var(--color-text-muted);
    text-transform: none;
    margin-top: 13px;
  }
</style>
