---

---

<section>
  <div>
    <p>CASE STUDIES</p>
    <h1>Taxes & Efficiency</h1>
  </div>

  <p>
    Our achievements reflect the close collaboration between our expert teams
    and our esteemed clientele. We cultivate a workplace that champions peak
    performance and guarantees client satisfaction.
  </p>
</section>

<style>
  section {
    background-color: #f9fafb;
    padding: 100px 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  div > p {
    font-size: var(--step--1);
    color: var(--color-text);
    text-transform: uppercase;
    letter-spacing: 14.5%;
    font-weight: 500;
  }
  h1 {
    font-size: var(--step-4);
    color: var(--color-text);
    font-weight: 900;
    margin-top: 14px;

    border-bottom: 7px solid var(--color-action);
    max-width: 465px;
  }
  p {
    font-size: 22px;
    color: var(--color-text-muted);
    max-width: 700px;
  }

  h1 {
    position: relative;
    border-bottom: 7px solid var(--color-action);
    padding-left: 40px;
  }

  h1::before {
    content: "";
    position: absolute;
    right: 380px;
    bottom: -6.5px;
    width: 780px;
    height: 6.5px;
    background: var(--color-action);
  }
</style>
