---
const { ConsName, ConsIntroduction, insta, facebook } = Astro.props;
import { Image } from "astro:assets";
---

<div>
  <h1>{ConsName}</h1>
  <p>{ConsIntroduction}</p>
  <div class="image">
    <Image src={insta} alt="instagram" />
    <Image src={facebook} alt="facebook" />
  </div>
</div>

<style>
 h1{
    font-size: larger;
    font-weight: 800;
    display: flex;
    justify-content: center;
    text-align: center;
 }
 p{
    font-size: small;
    text-align: center;
    margin-bottom: 4%;
 }
 div:has(img) h1,
div:has(img) p {
  margin-top: 10px; 
}
  .image {
    display: flex;
    justify-content: center; ´
    align-items: center;
    gap: 5px; 
    width: 100%; 
  }

  
  .image img {
    width: 20px; 
    height: 20px; 
    object-fit: contain;
  }
</style>
