---
const { FirstTitle, HovedTitle, Information } = Astro.props;
---

<div>
  <p>{FirstTitle}</p>
  <h1>{HovedTitle}</h1>
  <p>{Information}</p>
</div>

<style>
  h1 {
    font-size: xx-large;
    font-weight: 800;
    margin-top: var(--space-s);
    margin-bottom: 2%;
    @media (max-width: 600px) {
      margin-top: 4%;
      transform: translateX(-10%);
    }
  }
  p {
    width: 370px;
    text-align: justify;
    @media (max-width: 600px) {
      margin-top: 4%;
      transform: translateX(-10%);
    }
  }
</style>
