---
import HeroTwoCard from "./HeroTwoCard.astro";
---

<section>
  <HeroTwoCard
    HeroTitleSmall="ABOUT"
    HeroTitle="Igniting Innovation"
    HeroInformation="Our strength lies in the collaboration between our talented teams and esteemed clients. We cultivate a workplace that champions innovation, promotes peak performance, and guarantees client satisfaction."
  />
</section>

<style>
  section {
    background-color: #f9fafb;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
</style>
