---
const  {RealityNum, RealityTiny} = Astro.props; 
---
<h2>{RealityNum}</h2>
<p>{RealityTiny}</p>

<style>
    h2{
        font-size: xx-large;
        font-weight: 800;
    }
    p{
        font-size: small;
    }
</style>