---
import ServiceCard from "@components/ServiceCard.astro";

import servicesData from "@data/services.json";
import DynamicImage from "@helpers/DynamicImage.astro";
---

<div class="services">
  {servicesData.services.map((service) => <ServiceCard service={service} />)}
</div>

<style>
  @layer components {
    .services {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 140%;
      gap: 1rem;
      margin-top: -70px;
      margin-left: 34%;
      justify-content: center;
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }
    }
  }
</style>
