---
const { service } = Astro.props;
import ArrowRight from "@icons/arrow--right.svg";
---

<article>
  <h2>{service.title}</h2>
  <p>{service.description}</p>
  <a href="#0">{service.buttonText} <ArrowRight stroke-width={2.5} /></a>
</article>

<style>
  @layer components {
    article {
      background: var(--color-blue-700-transparent);
      color: var(--color-on-surface-elevated);
      padding: var(--space-l);
      border-radius: var(--space-s);
      border: 1px solid grey;
    }
    h2 {
      font-size: larger;
      font-weight: 700;
    }
  }
  a {
    display: inline flex;
    gap: 1ch;
    color: var(--color-action);
    font-weight: bold;

    svg {
      inline-size: 16px;
    }
  }
  h2 {
    padding-bottom: 5%;
  }
  p {
    padding-bottom: 20%;
  }
</style>
